// Префикс для всех классов
$flexy-prefix: 'b' !default;

// Максимальное количество колонок
$flexy-grid-columns: 12 !default;
// Отступы между колонками
$flexy-grid-gutter: 0.5em !default;
// Максимальная ширина контейнера
$flexy-grid-wrapper-max-width: 100% !default;
// Минимальная ширина контейнера
$flexy-grid-wrapper-min-width: auto !default;
